<a [routerLink]="['/posts']" routerLinkActive="router-link-active" ><button class="btn btn-dark">Back</button></a>

<div *ngIf="post" class="card">
    <div class="card-body">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
    </div>
</div>
