<p>Welcome to the Sandbox Application</p>
<button class="btn btn-secondary" [routerLink]="['/users']" routerLinkActive="router-link-active" >View Users</button>
<button class="btn btn-dark" [routerLink]="['/posts']" routerLinkActive="router-link-active" >View Posts</button>
