 <!-- 30 Aug 19 -->
 <h2>{{user.firstName}} {{user.lastName}}</h2>
 <ul>
     <li>Age: {{user.age + 20}} </li>
     <li>Address: {{user.address.street}} {{user.address.city}}, {{user.address.state}}</li>
    </ul>
 <h3>This is all from a template file 'user.component.html'</h3>