<button (click)="showForm = !showForm" class="btn btn-dark mb-4">Add User</button>
<div class="card card-body" *ngIf="showForm">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <h2>Add User</h2>
        <!-- FIRST NAME -->
        <div class="form-group">
            <label>First Name</label>
            <input 
                [(ngModel)]="user.firstName"  
                #userFirstName = "ngModel"
                [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}"
                type="text" name="firstName" 
                class="form-control"
                required
                minlength="2"
            />
            <!-- hidden is true if required is filled -->
            <div [hidden]="!userFirstName.errors?.required" 
                class="invalid-feedback">   
                    First name required
            </div>
            <div [hidden]="!userFirstName.errors?.minlength" 
                class="invalid-feedback">
                    Must be at least 2 characters
            </div>
        </div>

        <div class="form-group">    <!-- LAST NAME -->
            <label>Last Name</label>
            <input 
                [(ngModel)]="user.lastName"   
                #userLastName="ngModel"
                [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}"
                type="text" name="lastName" 
                class="form-control"
                required 
                minlength="2"    
            />
            <div [hidden]="!userLastName.errors?.required" 
                class="invalid-feedback">
                    Last name required
            </div>
            <div [hidden]="!userLastName.errors?.minlength" 
                class="invalid-feedback">
                    Must be at least 2 characters
            </div>
        </div>
        <div class="form-group">    <!-- EMAIL -->
            <label>Email</label>
            <input 
                [(ngModel)]="user.email"   
                #userEmail = ngModel
                [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}"
                type="text" name="email" 
                class="form-control"
                required
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                />
            <div [hidden]="!userEmail.errors?.required" 
                class="invalid-feedback">
                Please enter an email address
            </div>
            <div [hidden]="!userEmail.errors?.pattern" 
                class="invalid-feedback">
                Email address entered is not valid
            </div>
        </div>
        <!-- userForm is the name of the form! -->
            <!--    <form #userForm="ngForm" (onSubmit)="onSubmit(userForm)"></form> -->
        <button [disabled] = "!userForm.form.valid" class="btn btn-light btn-block mb-3">
            Add new user
        </button>
    </form>
</div>

<h2>Users</h2>

<ol class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light] = "user.isActive"> 
        <!-- can use <span [textContent] = "user.firstName"></span> -->
        <!-- instead of the one below. But below is recommended -->
        <h4 [ngStyle]="extraStyling">
            {{ user.firstName }} {{ user.lastName}}
            <small>
                    <button (click)="user.hide = !user.hide" class="btn btn-dark">
                        <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
                    </button>
            </small>
            
        </h4>
        <ul class="list-group" *ngIf="!user.hide">
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Registered: {{ user.registered  | date:"longDate"}}</li>
        </ul>    
    </li>
</ol>


<!-- users? means users can be null -->
<h4 *ngIf="users?.length == 0">No users found!</h4>

<h4 *ngIf="!loaded">Loading users...</h4>


<!-- 
    if using :: <ol *ngIf="users.length > 0; else noUsers">
    <ng-template #noUsers>
        <h4>No users found!</h4>
    </ng-template>
 -->
 
