<h2>Posts</h2> 
<app-post-form [currentPost] = "currentPost" [isEdit]="isEdit" 
            (newPost)='onNewPost($event)' (updatedPost)="onUpdatePost($event)"></app-post-form> 
<div class="card" *ngFor="let post of posts">
    <div class="card-body">
            <!-- cannot use: [routerLink]="['/postDetails/{{ post.id }}']" -->
        <h3><a  routerLink="/postDetails/{{ post.id }}" routerLinkActive="router-link-active"   >{{ post.title }}</a></h3>
        <p>{{post.body}}</p>
        <hr>
        <button (click)="deletePost(post)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
        <button (click)="editPost(post)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
    </div>
</div>
